@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(255, 255, 255);
  --foreground: #171717;
  --font-color: #171717;
  /* --primary: #ee8f7b; */
  /* --primary: #758ab8; */
  --primary: #7c9df7;
  /* --primary: #95a9de; */
  /* --secondary: #6dee62; */
  --secondary: #69ba82;
  /* --secondary: #474747; */
  --tertiary: #ffffff;
  --fivth: #5a37f7;
  --fourth: #f3873c;
  --textColor: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
    --font-color: #ffffff; /* Ensure font becomes white in dark mode */
  }
}

body {
  color: var(--foreground);
  background: var(--background);

  /* font-family: Arial, Helvetica, sans-serif; */
}




.frontImage {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.frontImage {
  background-image: url("https://cdn.pixabay.com/photo/2024/01/19/09/45/ai-generated-8518509_1280.png");
  background-size: cover; /* Ensures the image covers the div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  width: 10rem;
  height: 10rem;
}

@keyframes orbit1 {
  0% {
    transform: rotate(0deg) translateX(60px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(60px) rotate(-360deg);
  }
}
@keyframes orbit2 {
  0% {
    transform: rotate(120deg) translateX(60px) rotate(-120deg);
  }
  100% {
    transform: rotate(480deg) translateX(60px) rotate(-480deg);
  }
}
@keyframes orbit3 {
  0% {
    transform: rotate(240deg) translateX(60px) rotate(-240deg);
  }
  100% {
    transform: rotate(600deg) translateX(60px) rotate(-600deg);
  }
}

@layer utilities {
  .animate-orbit1 {
    animation: orbit1 5s linear infinite;
  }
  .animate-orbit2 {
    animation: orbit2 5s linear infinite;
  }
  .animate-orbit3 {
    animation: orbit3 5s linear infinite;
  }
}
